.container{
    display: flex;
    flex-wrap: wrap;
}

.container div{
    box-sizing: border-box;
}

    
.contain-the-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.button-container{
    display: flex;
    justify-content: center;
}

#button{
    border-radius: 12px;
    padding: 12px;
    font-size: 24px;
    
}